.login-container{
    width: 35%;
    border: 3px solid #15AC65;
    padding: 3% 5% 3% 5%;
    border-radius: 20px;
    text-align: center;
    margin: 0;
    position: fixed;
    top: 45%;
    left: 31%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login-container * {
    padding: 5px 10px;
}

.login-label{
    text-align: center;
}

.dlh-image{
    width: 20%;
    height: 20%;
}

.login-button{
    border: #19A4E0;
    background-color: #19A4E0;
    align-self: center;
}

.login-button:hover{
    border: #2596be;
    background-color: #2596be;
}
